<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title inertia>Sage</title>
  <meta name="description" content="A experimental web app to use various AI tools to generate alt and longdesc text for images of artworks, moderate that generated content, and provide access via a RESTful API">
  <meta name="robots" content="noindex,nofollow">

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @inertiaHead()
</head>

<body>
  @inertia()
</body>

</html>
