# Dependencies and AdonisJS build
node_modules
build
tmp
coverage

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Git specific
.git
.gitignore

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

# Docker volumes
data
